<!DOCTYPE html>
<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="/media/{{ media_version }}/js/main.js"></script>
		<link rel="stylesheet" href="/media/{{ media_version }}/css/foundation.css" />
		<link rel="stylesheet" href="/media/{{ media_version }}/css/main.css" />
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>