.button-ribbon__button-1,
.button-ribbon__button-2,
.button-ribbon__button-3 {
	padding: 10px;
	display: block;
}

.button-ribbon__button-1 {
	background: red;
}
.button-ribbon__button-3 {
	background: red;
}