@import "variables";

html, body {
    min-height: 100%;
    background: #eee;
    color: #333;
}



#title-container {
    $height: 300px;
    $width: 300px;

    position: absolute;
    top: 50%;
    left:50%;
    margin-top: -$height/2;
    margin-left: -$width/2;

    #title-container--image {
        width: $width;
    }
}
